$color-bg: #000000;
$color-fg: #ffffff;
$color-red: #d54e53;
$color-orange: #e78c45;
$color-yellow: #e7c547;
$color-green: #b9ca4a;
$color-aqua: #70c0b1;
$color-blue: #7aa6da;
$color-purple: #c397d8;

* {
	all: unset;
}


////////
// BAR

.bar {
	background: $color-bg;
}

.bar-top .bar-bottom {
	margin: 16px 0px;
}

.awesome-icon {
	font-family: "Font Awesome 6 Free";
	font-size: 18px;
}

tooltip {
	font-family: "FiraCode Nerd Font";
	background: rgba(#000, 0.9);
	border-radius: 8px;
}

// Workspaces

.workspace-entry {
	font-size: 18px;
	font-family: "Noto Sans CJK JP";
	color: rgba($color-fg, 0.5);
}

.occupied-workspace {
	color: $color-fg;
}

.current-workspace {
	font-family: "Noto Sans CJK JP Black";
	color: $color-purple;
}

// Battery

.battery-pcent {
	color: #444;
}

.battery-icon {
	color: $color-green;
}

.battery-should-unplug {
	color: $color-orange;
}

// Internet

.internet-icon {
	color: $color-purple;
}

// Brightness

.brightness-bar contents trough {
	all: unset;
	min-width: 10px;
	min-height: 80px;
	border-radius: 5px;
	background: $color-bg;
	margin: 4px 0px;
}

.brightness-bar contents trough highlight {
	background: $color-yellow;
	border-radius: 5px;
}

.brightness-icon {
	color: $color-yellow;
}

// Sound

.sound-bar contents trough {
	all: unset;
	min-width: 10px;
	min-height: 80px;
	border-radius: 5px;
	background: $color-bg;
	margin: 4px 0px;
}

.sound-bar contents trough highlight {
	background: $color-blue;
	border-radius: 5px;
}


.sound-icon {
	color: $color-blue;
}

// Clock

.clock {
	font-family: "FiraCode Nerd Font Mono";
	color: $color-purple;
	font-size: 16px;
}

// Power buttons

.power-bar {
	margin: 4px
}

.lock {
	color: $color-blue;
}

.logout {
	color: $color-purple;
}

.reboot {
	color: $color-orange;
}

.shutdown {
	color: $color-red;
}
